.have-tea-together
	.container
		.row
			.col-12.col-lg-auto
				.textbox
					p Let have a tea break together
			.col-12.col-lg-auto
				.button-wrap
					a.btn-send(href="#")
						span.fab.fa-telegram-plane
						span Send us your request
					a.btn-download(href="#")
						span.fas.fa-download
						span Download free brochure