section.faq-1
	.container
		h2.main-title What can we help you?
		.row
			.col-lg-9
				form.search-topic
					.form-search
						input(type="text", placeholder="Search for topic or questions")
						button
							span.mdi.mdi-magnify
				.topic-list
					.topic-item
						.title
							b Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
						.content
							p At CS Global Partners, we specialise in helping our clients gain a second nationality through citizenship by investment programmes. These programmes were devised as alternatives to time-consuming residence or minimum-stay citizenship programmes, which generally take years to complete. Indeed, citizenship by investment programmes rest on the notion that both the host country and the investor can benefit from swiftness and efficiency.

					.topic-item
						.title
							b Q: 
							span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat facilis quod corporis esse.
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magnam obcaecati. Voluptatum quidem assumenda dignissimos, accusantium dolores quas, dolore quae nisi aliquam modi fugiat velit laboriosam facilis magni debitis obcaecati.
					.topic-item
						.title
							b Q: 
							span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat facilis quod corporis esse.
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magnam obcaecati. Voluptatum quidem assumenda dignissimos, accusantium dolores quas, dolore quae nisi aliquam modi fugiat velit laboriosam facilis magni debitis obcaecati.
					.topic-item
						.title
							b Q: 
							span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat facilis quod corporis esse.
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magnam obcaecati. Voluptatum quidem assumenda dignissimos, accusantium dolores quas, dolore quae nisi aliquam modi fugiat velit laboriosam facilis magni debitis obcaecati.

					.topic-item
						.title
							b Q: 
							span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat facilis quod corporis esse.
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magnam obcaecati. Voluptatum quidem assumenda dignissimos, accusantium dolores quas, dolore quae nisi aliquam modi fugiat velit laboriosam facilis magni debitis obcaecati.

					.topic-item
						.title
							b Q: 
							span Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quaerat facilis quod corporis esse.
						.content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magnam obcaecati. Voluptatum quidem assumenda dignissimos, accusantium dolores quas, dolore quae nisi aliquam modi fugiat velit laboriosam facilis magni debitis obcaecati.


				include ../pagination/p-1.pug
			.col-lg-3
				.button-wrapper
					a.btn-help(href="#") 
						span.fab.fa-telegram-plane
						span Need to help
				form.send-feedback
					h4 Send feedback to help center
					p We love listening from you!
					.form-group
						label Your name
						input(placeholder="Enter your name")
					.form-group
						label Your email
						input(placeholder="Enter your email")
					.form-group
						label Your email
						textarea(placeholder="Enter your email")
					.form-button
						button Send your message