section.faq-search
	.container
		h2.main-title What can we help you?
		form.search-form-wrapper(action="")
			.row
				.form-group
					label Keyword
					input
				.form-group.custom-select
					label Type service
					select
						option Lorem ipsum
						option Lorem ipsum
						option Lorem ipsum
						option Lorem ipsum
						option Lorem ipsum
				.form-group.custom-select
					label Country
					select
						option Lorem ipsum
						option Lorem ipsum
						option Lorem ipsum
						option Lorem ipsum
						option Lorem ipsum
				.form-button
					button Search