section.faq-3
	.container
		.row
			.col-lg-8.col-xl-9
				.category
					h3 
						a(href="#") Residence
					.faq-list
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
				.category
					h3 
						a(href="#") Residence
					.faq-list
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
				.category
					h3 
						a(href="#") Residence
					.faq-list
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?

						
			include f-5.pug