section.faq-4
	.container
		.row
			.col-lg-8.col-xl-9
				.faq-list
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
					.faq-list-item
						a(href="faq-detail.html") 
							span Q: 
							span What is the minimum investment required to obtain the Bulgarian residency?
				include ../pagination/p-1.pug
						
			include f-5.pug