.col-lg-4
	form.send-question(action="")
		.send-form-wrapper
			h4 Send your question
			.form-group
				label(for="") Your email
				input(type="text", placeholder="Enter your email")
			.form-group
				label(for="") Message
				textarea(name="", cols="30", rows="10")
			.form-button
				button Send