section.faq-detail
	.container
		.row
			.col-lg-8.col-xl-9
				.textbox
					h1 Under the citizenship program, can I include my family in my application?
					p At CS Global Partners, we specialise in helping our clients gain a second nationality through citizenship by investment programmes. These programmes were devised as alternatives to time-consuming residence or minimum-stay citizenship programmes, which generally take years to complete. Indeed, citizenship by investment programmes rest on the notion that both the host country and the investor can benefit from swiftness and efficiency.
					br
					p At CS Global Partners, we specialise in helping our clients gain a second nationality through citizenship by investment programmes. These programmes were devised as alternatives to time-consuming residence or minimum-stay citizenship programmes, which generally take years to complete. Indeed, citizenship by investment programmes rest on the notion that both the host country and the investor can benefit from swiftness and efficiency.
					p You and your family can apply for citizenship together by including your applications in one envelope. Your applications will be processed together. If one or more of the applications are missing necessary information or documents, all of the applications in the envelope will be returned.
					p If we receive the necessary information and documents, applicants 18 to 54 years of age when they signed their application will be invited to write the citizenship test.
					p After the test, you or a family member may be asked to:
					ul
						li - re-write the written test; or
						li - attend a hearing with a citizenship officer or a citizenship judge
					p If this happens, we may process the other family members’ applications separately. This process might mean that they will attend an earlier citizenship ceremony and become citizens faster than the one re-writing the test or attending the interview.
					p We will tell you before we process your family’s applications separately. We will also send you a form that you can use to ask us to process the applications together. If you want the applications processed together, we will pause the other family members’ applications until after the second test or interview.
					p If citizenship is then granted after the second test/interview, all family members will attend the same ceremony.
				.other-item
					h3 Different Residence
					.faq-list
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
						.faq-list-item
							a(href="faq-detail.html") 
								span Q: 
								span What is the minimum investment required to obtain the Bulgarian residency?
			include f-5.pug