section.gov-news-1
	.container
		h2.main-title Gov news
		.row
			.col-md-6.col-lg-4
				a.gov-news-item(href="#")
					figure
						.imgbox
							img(src="./img/home/13.jpg", alt="")
							//- .corner
							//- 	span GIS News
						figcaption
							time 27/02/2019
							h4 European passport return service
							p The European passport return service is for EEA, Swiss nationals and their family members to keep their passport while their online application is being processed.
			.col-md-6.col-lg-4
				a.gov-news-item(href="#")
					figure
						.imgbox
							img(src="./img/home/13.jpg", alt="")
							//- .corner
							//- 	span GIS News
						figcaption
							time 27/02/2019
							h4 European passport return service
							p The European passport return service is for EEA, Swiss nationals and their family members to keep their passport while their online application is being processed.
			.col-md-6.col-lg-4
				a.gov-news-item(href="#")
					figure
						.imgbox
							img(src="./img/home/13.jpg", alt="")
							//- .corner
							//- 	span GIS News
						figcaption
							time 27/02/2019
							h4 European passport return service
							p The European passport return service is for EEA, Swiss nationals and their family members to keep their passport while their online application is being processed.
			.col-md-6.col-lg-4
				a.gov-news-item(href="#")
					figure
						.imgbox
							img(src="./img/home/13.jpg", alt="")
							//- .corner
							//- 	span GIS News
						figcaption
							time 27/02/2019
							h4 European passport return service
							p The European passport return service is for EEA, Swiss nationals and their family members to keep their passport while their online application is being processed.
			.col-md-6.col-lg-4
				a.gov-news-item(href="#")
					figure
						.imgbox
							img(src="./img/home/13.jpg", alt="")
							//- .corner
							//- 	span GIS News
						figcaption
							time 27/02/2019
							h4 European passport return service
							p The European passport return service is for EEA, Swiss nationals and their family members to keep their passport while their online application is being processed.
			.col-md-6.col-lg-4
				a.gov-news-item(href="#")
					figure
						.imgbox
							img(src="./img/home/13.jpg", alt="")
							//- .corner
							//- 	span GIS News
						figcaption
							time 27/02/2019
							h4 European passport return service
							p The European passport return service is for EEA, Swiss nationals and their family members to keep their passport while their online application is being processed.
		include ../pagination/p-1.pug