.mdi-account:before
	content: '\f004'
.mdi-magnify:before
	content: '\f349'
.mdi-home:before
	content: '\f2dc'
.mdi-close:before
	content: '\f156'
.mdi-menu:before
	content: '\f35c'
.mdi-phone:before
	content: '\f3f2'
.mdi-email:before
	content: '\f1ee'
.mdi-plus-circle:before
	content: '\f417'
.mdi-alert-circle-outline:before
	content: '\f5d6'
.mdi-calendar:before
	content: '\f0ed'
.mdi-map-marker:before
	content: '\f34e'
.mdi-chevron-double-left:before
	content: '\f13d'
.mdi-chevron-double-right:before
	content: '\f13e'
.mdi-cloud-download:before
	content: '\f162'
.mdi-briefcase:before
	content: '\f0d6'
.mdi-fax:before
	content: '\f212'
.mdi-whatsapp:before
	content: '\f5a3'
.mdi-map:before
	content: '\f34d'



	
.fa-telegram-plane:before
	content: '\f3fe'
.fa-download:before
	content: '\f019'
.fa-linkedin-in:before
	content: '\f0e1'
.fa-facebook-f:before
	content: '\f39e'
.fa-youtube:before
	content: '\f167'
.fa-twitter:before
	content: '\f099'
.fa-download:before
	content: '\f019'
.fa-calendar-alt:before
	content: '\f073'
.fa-phone-volume:before
	content: '\f2a0'
.fa-times:before
	content: '\f00d'
.fa-check:before
	content: '\f00c'


.lnr-chevron-down:before
	content: '\e874'
.lnr-chevron-up:before
	content: '\e873'
.lnr-arrow-right:before
	content: '\e87a'
.lnr-arrow-up:before
	content: '\e877'
.lnr-chevron-left:before
	content: '\e875'
.lnr-chevron-right:before
	content: '\e876'
.lnr-cross:before
	content: '\e870'