section.about-1#block-1
	.container
		h2.main-title Introduction
		p.main-description GIS is a trusted advisor to businesses and high-net-worth corporations worldwide. We assist our clients with professional services Immigration Law and Immigration Application Service.
		.row
			.col-lg-6.left
				.imgbox
					img(src="./img/about/1.jpg", alt="")
				.textbox
					p Our associated teams are professionalized to practice immigration law in the jurisdictions they represent, including not only Malta but also Bulgaria, Cyprus, Greece, Monaco, Portugal, Spain, Switzerland, the UK, the Caribbean, and Canada.
			.col-lg-6.right
				.textbox
					p Governments in Europe, North America, and the Caribbean have launched immigration by investment programs targeted at high net worth individuals seeking overseas residency or a second nationality and passport. Also known as "golden visas" these programs offer foreign investors multiple pathways through which to obtain permanent residency and - if desired - citizenship. The common goal of the issuing country is to secure direct foreign investments to spur local economic growth.

				.imgbox
					img(src="./img/about/2.jpg", alt="")
