section.about-2
	.container
		.row.top
			.col-lg-3.title
				h2.main-title What GIS commits to deliver
			.col-lg
				.textbox
					p GIS started to search for a solution, and ways to take back control of Customer’s businesses and life. We looked for that would allow you to live a life of true freedom and choose how to spend your hard-earned money. Not only places that would be more favorable from a tax standpoint, but places that could diversify Customer’s risks and ensure your well-being even if the economy of my home country were to crash again.
					br
					p By asking what is the customer’s desired end result is, we can work with you to map out a plan for getting there as quickly as possible

		.row.bottom
			.col-lg-3.col-sm-6.item
				.title
					.img
						img(src="./img/home/icon_5.png", alt="")
					.text 
						h4 Become a citizen of the world
				.content
					p With a second citizenship, you will guarantee yourself the freedom to travel where you want and to divorce your government. 
			.col-lg-3.col-sm-6.item
				.title
					.img
						img(src="./img/home/icon_6.png", alt="")
					.text 
						h4 Move your money to safe place
				.content
					p Having money in another country also allows you to reduce your sovereign risk by holding multiple currencies. It’s not just sexy, it’s good diversification. 
			.col-lg-3.col-sm-6.item
				.title
					.img
						img(src="./img/home/icon_7.png", alt="")
					.text 
						h4 Reduce your corporate tax bill
				.content
					p You can legally and easily move your entire business overseas to pay reasonable tax rates. 
			.col-lg-3.col-sm-6.item
				.title
					.img
						img(src="./img/home/icon_8.png", alt="")
					.text 
						h4 Live where you want
				.content
					p Live away from your home, you’re not under any obligation to pay homage to the country where you just so happened to evacuate a birth canal. 