section.about-3#block-2
	.container
		h2.main-title Misson & Vision
		.row
			.col-lg-6
				.imgbox
					img(src="./img/about/3.jpg", alt="")
			.col-lg-6
				.textbox
					h4 Our Vision
					h5 Integrity – Professional – Friendly!
					p We believe that your success is also ours. So we are aspired for a Working Network supported by highly professional and competent staff, committed to the effective management of Immigration matters with enhanced digitalize information management systems for the improvement of overall customer satisfaction!
					p We will be the foremost immigration service in the world in effectiveness and efficiency!
				.textbox
					h4 Our Mission
					p We will contribute to the benefits and interest of our customers by:
					ul
						li Exercising effective Residency Planning
						li Facilitating the investment of genuine investors and business people
						li Keeping out undesirables
						li Fully comply with Regulators to prevent and detect immigration-related crimes
						li Issuing to residents highly secure identity cards and travel documents
			.col-12.bottom-textbox
				p We strives  to provide quality service without discrimination and treat each member of the public with respect, consideration and compassion, irrespective of disability, sex, marital status, pregnancy, family status, race, nationality and religion.
	.container.sub-about-3
		h2.sub-title Our Values
		.row
			.item
				.img
					img(src="./img/about/icon_1.png", alt="")
				.caption
					h5 Integrity and Impartiality
					p GISTD faithfully apply our procedure, giving advice and carefully work with government’s practices with impartiality and honesty in order to uphold our high standards of integrity at all times.
			.item
				.img
					img(src="./img/about/icon_2.png", alt="")
				.caption
					h5 Courtesy and Compassion
					p We treat each customer with respect, consideration, courtesy and compassion. We will be empathetic, appreciative of different perspectives and flexible in the process of consulting and when sending application of customer so that everything can be in line with specific needs.
			.item
				.img
					img(src="./img/about/icon_3.png", alt="")
				.caption
					h5 Care and Cohesion
					p GISTD will adopt people-based management to care for our staff's need and development, enhance communication, cultivate harmony and trust, and build a professional team with high morale and cohesiveness to serve the public.
			.item
				.img
					img(src="./img/about/icon_4.png", alt="")
				.caption
					h5 Alertness and Awareness
					p GISTD will remain sensitive to ever-changing social, economic and political environment, assimilate trends and realign our business strategies and operational procedures to meet new challenges.
			.item
				.img
					img(src="./img/about/icon_5.png", alt="")
				.caption
					h5 Improvement and Illumination
					p Continuously striving for excellence in whatever we do and seek to be the role-model for other immigration services worldwide is a must. GISTD recognized well the importance of such issue and keep it as one of the top priorities.

