section.about-4#block-3
	.container
		h2.main-title Board of advisor
		.row
			.col-lg-6
				figure.item
					.imgbox
						img(src="./img/about/4.jpg", alt="")
					figcaption
						h4 Khushal Puri
						p CEO
						a.btn-viewmore(href="#" data-target="#advisor-1")
							span.mdi.mdi-plus-circle
							span View more
					.advisor-item#advisor-1
						.popup-body
							.img
								img(src="./img/about/4.jpg", alt="")
							.content-wrapper
								.title
									.name
										h4 Khushal Puri
										p CEO
									.popup-close
										span.mdi.mdi-close
								.content
									p Khushal Puri has over 20 years experience in information technology, e-banking, e-commerce in United Kingdom, Singapore, South Africa, India and  got great achievements. Puri holds MBA finance and accounting from the University of Strathclyde, UK and Bachelors’ degree in Computer Science from Indian Institute of Technology Bombay, India. He joined GIS on 15 July 2013.
									br
									p Puri enjoys playing cricket, football and travelling. Now he lives in London, United Kingdom.

			.col-lg-6
				figure.item
					.imgbox
						img(src="./img/about/5.jpg", alt="")
					figcaption
						h4 Khushal Puri
						p CEO
						a.btn-viewmore(href="#" data-target="#advisor-2")
							span.mdi.mdi-plus-circle
							span View more
					.advisor-item#advisor-2
						.popup-body
							.img
								img(src="./img/about/5.jpg", alt="")
							.content-wrapper
								.title
									.name
										h4 Khushal Puri
										p CEO
									.popup-close
										span.mdi.mdi-close
								.content
									p Khushal Puri has over 20 years experience in information technology, e-banking, e-commerce in United Kingdom, Singapore, South Africa, India and  got great achievements. Puri holds MBA finance and accounting from the University of Strathclyde, UK and Bachelors’ degree in Computer Science from Indian Institute of Technology Bombay, India. He joined GIS on 15 July 2013.
									br
									p Puri enjoys playing cricket, football and travelling. Now he lives in London, United Kingdom.

			.col-lg-6
				figure.item
					.imgbox
						img(src="./img/about/6.jpg", alt="")
					figcaption
						h4 Khushal Puri
						p CEO
						a.btn-viewmore(href="#" data-target="#advisor-3")
							span.mdi.mdi-plus-circle
							span View more
					.advisor-item#advisor-3
						.popup-body
							.img
								img(src="./img/about/6.jpg", alt="")
							.content-wrapper
								.title
									.name
										h4 Khushal Puri
										p CEO
									.popup-close
										span.mdi.mdi-close
								.content
									p Khushal Puri has over 20 years experience in information technology, e-banking, e-commerce in United Kingdom, Singapore, South Africa, India and  got great achievements. Puri holds MBA finance and accounting from the University of Strathclyde, UK and Bachelors’ degree in Computer Science from Indian Institute of Technology Bombay, India. He joined GIS on 15 July 2013.
									br
									p Puri enjoys playing cricket, football and travelling. Now he lives in London, United Kingdom.

			.col-lg-6
				figure.item
					.imgbox
						img(src="./img/about/7.jpg", alt="")
					figcaption
						h4 Khushal Puri
						p CEO
						a.btn-viewmore(href="#" data-target="#advisor-4")
							span.mdi.mdi-plus-circle
							span View more
					.advisor-item#advisor-4
						.popup-body
							.img
								img(src="./img/about/7.jpg", alt="")
							.content-wrapper
								.title
									.name
										h4 Khushal Puri
										p CEO
									.popup-close
										span.mdi.mdi-close
								.content
									p Khushal Puri has over 20 years experience in information technology, e-banking, e-commerce in United Kingdom, Singapore, South Africa, India and  got great achievements. Puri holds MBA finance and accounting from the University of Strathclyde, UK and Bachelors’ degree in Computer Science from Indian Institute of Technology Bombay, India. He joined GIS on 15 July 2013.
									br
									p Puri enjoys playing cricket, football and travelling. Now he lives in London, United Kingdom.
