section.home-5#block-4
	.container
		h2.main-title Rewards and certifications
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/home/12.jpg", alt="")
							figcaption
								h4 Certificate 1: Malta Premium Global Partner
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/home/12.jpg", alt="")
							figcaption
								h4 Certificate 2: Malta Premium Global Partner
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/home/12.jpg", alt="")
							figcaption
								h4 Certificate 3: Malta Premium Global Partner
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/home/12.jpg", alt="")
							figcaption
								h4 Certificate 4: Malta Premium Global Partner
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/home/12.jpg", alt="")
							figcaption
								h4 Certificate 5: Malta Premium Global Partner
		.swiper-navigation
			span.swiper-prev.lnr.lnr-chevron-left
			span.swiper-next.lnr.lnr-chevron-right