
.nav-1.navigation
	.container
		.nav-wrapper
			.category
				p Categories
				span.mdi.mdi-menu
			ul
				li
					a(href="#" data-target="#block-1") Introduction 
				li
					a(href="#" data-target="#block-2") Mission &amp; vission
				li.active
					a(href="#" data-target="#block-3") Board of advisors
				li
					a(href="#" data-target="#block-4") Certificates &amp; rewards