
.nav-2.navigation
	.container
		.nav-wrapper
			.category
				p Categories
				span.mdi.mdi-menu
			ul
				li
					a(href="r-overview.html") overview
				li
					a(href="r-residence.html") residence
				li.active
					a(href="#") citizenship
				li
					a(href="r-faq.html") faqs
				li
					a(href="r-promotion.html") promotion
				li
					a(href="r-govnews.html") gov news
				li
					a(href="r-download.html") download forms