
.nav-2.navigation
	.container
		.nav-wrapper
			.category
				p Categories
				span.mdi.mdi-menu
			ul
				li
					a(href="#") overview
				li
					a(href="#") residence
				li.active
					a(href="#") citizenship
				li
					a(href="#") faqs
				li
					a(href="r-promotion.html") promotion
				li
					a(href="#") gov news
				li
					a(href="r-download.html") download forms