
.nav-2.navigation
	.container
		.nav-wrapper
			.category
				p Categories
				span.mdi.mdi-menu
			ul
				li
					a(href="r-overview.html") Goverment news
				li
					a(href="r-residence.html") gis news
				li.active
					a(href="#") Event