section.important-1
	.container
		h2.main-title Important Point
		.row
			.col-lg-8.col-md-10.description
				p The first step in optimizing your planning situation is to identify all those countries to which you are linked in some way. This involves two key factors: the location and nature of your property and business assets - and your place of residence.
		.row
			.col-lg-5
				.imgbox
					img(src="./img/important/1.jpg", alt="")
			.col-lg-7
				.textbox
					p A change of residence to a suitable country is an increasingly important aspect of international planning for private clients.
					p For some individuals and families, a change of residence is a very sensible proposition. This is particularly the case for clients who live in countries with limited options for tax and estate planning, for those seeking more lifestyle choices and for those who live in countries with an unstable political or economic situation where an alternative residence is also a means to increase personal security and achieve a better quality of life as well as offering the potential to acquire a second citizenship.
				.button-wrapper
					a.btn-send-message(href="#") Send your message
					a.btn-request-callback(href="#") 
						span.fas.fa-phone-volume
						span Request call back