section.important-2
	.container
		h2.main-title Top program to catch
		.slide-wrapper
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						figure.item
							.imgbox
								a(href="#")
									img(src="./img/important/2.jpg", alt="")
							figcaption
								h4 
									a(href="#") Malta
								p Malta is a country strategically located at the center of the Mediterranean, and boasts an excellent reputation with a splendid climate, very friendly people, and a low crim rate, offering its people a great quality of life.
					.swiper-slide
						figure.item
							.imgbox
								a(href="#")
									img(src="./img/important/2.jpg", alt="")
							figcaption
								h4 
									a(href="#") Malta
								p Malta is a country strategically located at the center of the Mediterranean, and boasts an excellent reputation with a splendid climate, very friendly people, and a low crim rate, offering its people a great quality of life.
					.swiper-slide
						figure.item
							.imgbox
								a(href="#")
									img(src="./img/important/2.jpg", alt="")
							figcaption
								h4 
									a(href="#") Malta
								p Malta is a country strategically located at the center of the Mediterranean, and boasts an excellent reputation with a splendid climate, very friendly people, and a low crim rate, offering its people a great quality of life.
					.swiper-slide
						figure.item
							.imgbox
								a(href="#")
									img(src="./img/important/2.jpg", alt="")
							figcaption
								h4 
									a(href="#") Malta
								p Malta is a country strategically located at the center of the Mediterranean, and boasts an excellent reputation with a splendid climate, very friendly people, and a low crim rate, offering its people a great quality of life.
					.swiper-slide
						figure.item
							.imgbox
								a(href="#")
									img(src="./img/important/2.jpg", alt="")
							figcaption
								h4 
									a(href="#") Malta
								p Malta is a country strategically located at the center of the Mediterranean, and boasts an excellent reputation with a splendid climate, very friendly people, and a low crim rate, offering its people a great quality of life.
			.swiper-navigation
				span.swiper-prev.lnr.lnr-chevron-left
				span.swiper-next.lnr.lnr-chevron-right