section.important-3
	.container
		h2.main-title remark in residence planning
		.row
			.col-lg-6
				.item
					.title
						.number 01
						h4 Income Tax based on Citizenship of USA Citizens
					.content
						.textbox
							p Whereas residence simply means living in a particular place, domicile means living there with the intent to make it a fixed and permanent
						.button-wrapper
							a(href="javascript:void(0)")
								span View more
								span.lnr.lnr-chevron-down
			.col-lg-6
				.item
					.title
						.number 01
						h4 Income Tax based on Citizenship of USA Citizens
					.content
						.textbox
							p Whereas residence simply means living in a particular place, domicile means living there with the intent to make it a fixed and permanent home. 
							p Legal domicile is an important concept because it often controls jurisdiction with respect to taxation, mainly with regard to inheritance taxes. Even after a client has become resident in another country for income-tax purposes, he may still be considered domiciled in the previous country of residence for inheritance and gift-tax purposes. This is particularly the case in countries such as the United Kingdom, which have a particular understanding of residence and domicile and rely on this concept to impose inheritance tax on their citizens even if they are no longer resident in the country.
						.button-wrapper
							a(href="javascript:void(0)")
								span View more
								span.lnr.lnr-chevron-down
			.col-lg-6
				.item
					.title
						.number 01
						h4 Income Tax based on Citizenship of USA Citizens
					.content
						.textbox
							p Whereas residence simply means living in a particular place, domicile means living there with the intent to make it a fixed and permanent home. Legal domicile is an important concept because it often controls jurisdiction with respect to taxation, mainly with regard to inheritance taxes. Even after a client has become resident in another country for income-tax purposes, he may still be considered domiciled in the previous country of residence for inheritance and gift-tax purposes. This is particularly the case in countries such as the United Kingdom, which have a particular understanding of residence and domicile and rely on this concept to impose inheritance tax on their citizens even if they are no longer resident in the country.
							p Legal domicile is an important concept because it often controls jurisdiction with respect to taxation, mainly with regard to inheritance taxes. Even after a client has become resident in another country for income-tax purposes, he may still be considered domiciled in the previous country of residence for inheritance and gift-tax purposes. This is particularly the case in countries such as the United Kingdom, which have a particular understanding of residence and domicile and rely on this concept to impose inheritance tax on their citizens even if they are no longer resident in the country.
							p Legal domicile is an important concept because it often controls jurisdiction with respect to taxation, mainly with regard to inheritance taxes. Even after a client has become resident in another country for income-tax purposes, he may still be considered domiciled in the previous country of residence for inheritance and gift-tax purposes. This is particularly the case in countries such as the United Kingdom, which have a particular understanding of residence and domicile and rely on this concept to impose inheritance tax on their citizens even if they are no longer resident in the country.
						.button-wrapper
							a(href="javascript:void(0)")
								span View more
								span.lnr.lnr-chevron-down
			.col-lg-6
				.item
					.title
						.number 01
						h4 Income Tax based on Citizenship of USA Citizens
					.content
						.textbox
							p Whereas residence simply means living in a particular place, domicile means living there with the intent to make it a fixed and permanent home. Legal domicile is an important concept because it often controls jurisdiction with respect to taxation, mainly with regard to inheritance taxes. Even after a client has become resident in another country for income-tax purposes, he may still be considered domiciled in the previous country of residence for inheritance and gift-tax purposes. This is particularly the case in countries such as the United Kingdom, which have a particular understanding of residence and domicile and rely on this concept to impose inheritance tax on their citizens even if they are no longer resident in the country.
						.button-wrapper
							a(href="javascript:void(0)")
								span View more
								span.lnr.lnr-chevron-down
			.col-lg-6
				.item
					.title
						.number 01
						h4 Income Tax based on Citizenship of USA Citizens
					.content
						.textbox
							p Whereas residence simply means living in a particular place, domicile means living there with the intent to make it a fixed and permanent home. Legal domicile is an important concept because it often controls jurisdiction with respect to taxation, mainly with regard to inheritance taxes. Even after a client has become resident in another country for income-tax purposes, he may still be considered domiciled in the previous country of residence for inheritance and gift-tax purposes. This is particularly the case in countries such as the United Kingdom, which have a particular understanding of residence and domicile and rely on this concept to impose inheritance tax on their citizens even if they are no longer resident in the country.
						.button-wrapper
							a(href="javascript:void(0)")
								span View more
								span.lnr.lnr-chevron-down