extends _layout.pug

block var
	- var title = 'Apply Now'
	- var bodyClass = 'apply-page'
	- var breadcrumb = ['Home', 'Apply Now']
	- var link = 2 /*.jpg*/

block main
	// Includes components here
	include ../components/banner/b-2.pug
	include ../components/navigation/n-4.pug
	include ../components/apply/a-1.pug
