extends _layout.pug

block var
	- var title = 'Change Password'
	- var bodyClass = 'admin-page'
	- var breadcrumb = ['Home', 'Change Password']
	- var link = 2 /*.jpg*/
block main
	.page-banner
		.breadcrumb-wrapper
			.container
				ul
					each item in breadcrumb
						li
							a(href="#")= item
	section.change-password
		.container
			.row
				include ../components/dashboard/sidebar.pug
				.col-lg-8.col-xl-9
					.change-password-wrapper
						h3 change password
						form
							.form-group
								label Email
								input
							.form-group
								label current password
								input(type="password")
							.form-group
								label new password
								input(type="password")
							.form-group
								label confirm password
								input(type="password")
							.form-button
								button save change