extends _layout.pug

block var
	- var title = 'FAQs'
	- var bodyClass = 'faqs-page'
	- var breadcrumb = ['Home', 'FAQs']
	- var link = 2 /*.jpg*/
block main
	include ../components/banner/b-2.pug
	include ../components/faq/f-2.pug
	include ../components/faq/f-3.pug