extends _layout.pug

block var
	- var title = 'Change Password'
	- var bodyClass = 'admin-page'
	- var breadcrumb = ['Home', 'Change Password']
	- var link = 2 /*.jpg*/
block main
	.page-banner
		.breadcrumb-wrapper
			.container
				ul
					each item in breadcrumb
						li
							a(href="#")= item
	section.forgot-password
		.container
			.row
				.col-lg-10.col-xl-6
					h3 did you forgot your password?
					p Enter your email address you're using for your account below and we will send you a password reset link.
					form
						.form-group
							label Email address
							input
						.form-button
							button Request reset password
						a.btn-back(href="#") Back to Sign in