extends _layout.pug

block var
	- var title = 'Program Match'
	- var bodyClass = 'program-match-page'
	- var list = [{"title": "Passport Index","content": "Discover how the industry benchmark ranks the different programs. ","img": "./img/tools/index.png","link": "p-index.html"},{"title": "Make Payment","content": "Our exclusive calculator will convey the estimated costs for each program","img": "./img/tools/payment.png","link": "payment-1.html"},{"title": "Program Compare","content": "Compare the different programs side by side and examine their features. ","img": "./img/tools/compare.png","link": "p-compare.html"}]
	- var breadcrumb = ['Home','Gis Tool','Program Match']
block main
	.page-banner
		.breadcrumb-wrapper
			.container
				ul
					each item in breadcrumb
						li
							a(href="#")= item
	include ../components/tools/match.pug
	include ../components/tools/tools-nav.pug
	+toolsNav(list)