extends _layout.pug

block var
	- var title = 'Download Forms'
	- var bodyClass = 'download-page'
	- var breadcrumb = ['Home', 'Residence','Bulgaria','Download Forms']
	- var link = 2 /*.jpg*/
block main
	include ../components/banner/b-2.pug
	include ../components/navigation/n-2.pug
	include ../components/download/d-1.pug
	include ../components/have-tea-together/h-1.pug