extends _layout.pug

block var
	- var title = 'Important Point'
	- var bodyClass = 'important-point-page'
	- var breadcrumb = ['Home', 'Residence','Important Point']
	- var link = 2 /*.jpg*/
block main
	include ../components/banner/b-2.pug
	include ../components/important-point/i-1.pug
	include ../components/important-point/i-2.pug
	include ../components/important-point/i-3.pug
	include ../components/home/h-7.pug