extends _layout.pug

block var
	- var title = 'Overview'
	- var bodyClass = 'overview-page'
	- var breadcrumb = ['Home', 'Residence', ' Bulgaria', 'Overview']
	- var link = 2 /*.jpg*/
block main
	include ../components/banner/b-2.pug
	include ../components/navigation/n-2.pug
	include ../components/overview/o-1.pug
	include ../components/overview/o-2.pug
	include ../components/overview/o-3.pug
	include ../components/overview/o-4.pug
	include ../components/overview/o-5.pug
	include ../components/have-tea-together/h-1.pug