extends _layout.pug

block var
	- var title = 'Residence'
	- var bodyClass = 'residence-page'
	- var breadcrumb = ['Home', 'Residence', ' Bulgaria', 'Residence']
	- var link = 2 /*.jpg*/
block main
	include ../components/banner/b-2.pug
	include ../components/navigation/n-2.pug
	include ../components/residence/r-1.pug
	include ../components/residence/r-2.pug
	include ../components/home/h-7.pug