extends _layout.pug

block var
	- var title = 'Login/ Register'
	- var bodyClass = 'signinup-page'
	- var breadcrumb = ['Home', 'Login/ Register']
block main
	.page-banner
		.breadcrumb-wrapper
			.container
				ul
					each item in breadcrumb
						li
							a(href="#")= item
	section.sign-in-up
		.container
			h2.main-title Welcome to GIS
			.row.no-gutters.sign-in-up-wrapper
				.col-lg-4
					.login-wrapper
						h3 Login
						form.row
							.form-group.col-12
								label Email *
								input(type="text")
							.form-group.col-12
								label Password *
								input(type="text")
							.form-button.col-12
								button.btn-sign Sign in
							.col-12
								a.btn-forgot(href="forgotpassword.html") Forgot password?
				.col-lg-8
					.sign-in-wrapper
						h3 Register
						form#form-signup.row(action='/account/signup', method='post', novalidate='novalidate')
							.form-group.col-md-6
								label First name
								input#sfirstname(type='text', name='sfirstname')
							.form-group.col-md-6
								label last Name
								input#slastname(type='text', name='slastname')
							.form-group.col-md-6
								label Email *
								input#semail.valid(type='text', name='semail', aria-invalid='false')
								label#semail-error.error(for="semail") Please input email
							.form-group.form-phone.col-md-6
								label Phone
								.intl-tel-input.allow-dropdown.separate-dial-code
									.flag-container
										.selected-flag(role='combobox', aria-owns='country-listbox', tabindex='0', title='United States: +1')
											.iti-flag.us
											.selected-dial-code +1
											.iti-arrow
										ul#country-listbox.country-list.hide(aria-expanded='false', role='listbox', aria-activedescendant='iti-item-us')
											li#iti-item-us.country.preferred.active(tabindex='-1', role='option', data-dial-code='1', data-country-code='us', aria-selected='true')
												.flag-box
													.iti-flag.us
												span.country-name United States
												span.dial-code +1
											li#iti-item-zm.country.standard(tabindex='-1', role='option', data-dial-code='260', data-country-code='zm')
												.flag-box
													.iti-flag.zm
												span.country-name Zambia
												span.dial-code +260
											li#iti-item-zw.country.standard(tabindex='-1', role='option', data-dial-code='263', data-country-code='zw')
												.flag-box
													.iti-flag.zw
												span.country-name Zimbabwe
												span.dial-code +263
											li#iti-item-ax.country.standard(tabindex='-1', role='option', data-dial-code='358', data-country-code='ax')
												.flag-box
													.iti-flag.ax
												span.country-name Åland Islands
												span.dial-code +358
									input#sphone(type='text', name='sphone', autocomplete='off', data-intl-tel-input-id='0', style='padding-left: 106px;', placeholder='201-555-0123')
									input(type='hidden', name='full_phone')
							.form-group.col-md-6
								label Password *
								input#spasswd.valid(type='password', name='spasswd', aria-invalid='false')
							.form-group.col-md-6
								label Confirm Password *
								input#sconfirm(type='password', name='sconfirm')
							.form-group.form-check.col-12
								input#terms(type='checkbox', name='terms')
								label(for='terms')
									| I have read and agree to these 
									a(href='#') Terms and Conditons
							.form-button.col-12
								button#btnRegister.btn-sign(type='submit', disabled='disabled') Register