section.compare
	.container
		h2.main-title Product Compare
		p.main-description Select various programs and compare their unique features
		.row
			.col
				.specify
					.icon
					.trow CURRENCY
					.trow PERSONAL NET WORTH
					.trow CONTRIBUTION AMOUNT
					.trow ASSET(S)
					.trow INVESTMENT GUARANTEES
					.trow FINANCING OPTIONS
					.trow GOVERNMENT FEES1
					.trow TIME TO RESIDENCE
					.trow INTERVIEW REQUIRED
					.trow REQUIRED PHYSICAL RESIDENCE
					.trow TIME TO CITIZENSHIP
					.trow VISA-FREE TRAVEL
					.trow ARTON INDEX SCORE
			.col
				.item
					.icon
						img(src="./img/tools/us.png", alt="")
						select
							option(value="") United Kingdom
							option(value="") United States
							option(value="") Vietnam
					.trow USD
					.trow 0
					.trow 500,000
					.trow Project
					.trow No
					.trow No
					.trow 61,885
					.trow 12-18 months
					.trow No
					.trow 3/5 years
					.trow 8 years
					.trow 157
					.trow 58
					.button
						a(href="#") Learn more
			.col
				.item
					.icon
						img(src="./img/tools/uk.png", alt="")
						select
							option(value="") United Kingdom
							option(value="") United States
							option(value="") Vietnam
					.trow USD
					.trow 0
					.trow 500,000
					.trow Project
					.trow No
					.trow No
					.trow 61,885
					.trow 12-18 months
					.trow No
					.trow 3/5 years
					.trow 8 years
					.trow 157
					.trow 58
					.button
						a(href="#") Learn more
			.col
				.item
					.icon
						img(src="./img/tools/nv.png", alt="")
						select
							option(value="") United Kingdom
							option(value="") United States
							option(value="") Vietnam
					.trow USD
					.trow 0
					.trow 500,000
					.trow Project
					.trow No
					.trow No
					.trow 61,885
					.trow 12-18 months
					.trow No
					.trow 3/5 years
					.trow 8 years
					.trow 157
					.trow 58
					.button
						a(href="#") Learn more
			.col
				.item
					.icon
						img(src="./img/tools/cr.png", alt="")
						select
							option(value="") United Kingdom
							option(value="") United States
							option(value="") Vietnam
					.trow USD
					.trow 0
					.trow 500,000
					.trow Project
					.trow No
					.trow No
					.trow 61,885
					.trow 12-18 months
					.trow No
					.trow 3/5 years
					.trow 8 years
					.trow 157
					.trow 58
					.button
						a(href="#") Learn more