section.passport-index
	.container
		h2.main-title Passport Index
		p.main-description Discover the power of a second passport
		.row
			.col-lg-3
				.row
					.col-sm-6.col-lg-12
						form.form-check
							h4 My Passport is
							.custom-select
								select
									option(value="") Vietnam
									option(value="") United States
									option(value="") United Kingdom
							h4 I want to see
							.custom-radio
								.radio
									input#method1(type="radio", name="inputradio" checked)
									label(for="method1") Visa-free access 
										span.mdi.mdi-alert-circle-outline.tooltip-toggle
										.tooltip
											p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo quas, similique nulla vitae eos suscipit
								.radio
									input#method2(type="radio", name="inputradio")
									label(for="method2") Visa required 
										span.mdi.mdi-alert-circle-outline.tooltip-toggle
										.tooltip
											p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo quas, similique nulla vitae eos suscipit
					.col-sm-6.col-lg-12
						.result
							.imgbox
								img(src="./img/tools/result_image.jpg", alt="")
							.flag
								img(src="./img/tools/result_flag.png", alt="")
							.name
								h5 Vietnam
							.rank
								h5 Ranked 87th in 2019
								a.view(href="#") View global ranking
							.list
								h5 51 destinations visa-free access
								a(href="#") Hide list
							.social
								a.fab.fa-facebook-f(href="#")
								a.fab.fa-twitter(href="#")
								a.fab.fa-linkedin-in(href="#")
								span.mdi.mdi-close
			.col-lg-9
				.map
					img(src="./img/tools/maps.png", alt="")
	.container
		.visa-on-arrival
			.row
				.col-12
					span * Visa on arrival
					span ** eTa
			.row.area
				.col-lg-2.area-title
					h5 ASIA
				.col-lg
					.row
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
			.row.area
				.col-lg-2.area-title
					h5 Africa
				.col-lg
					.row
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
			.row.area
				.col-lg-2.area-title
					h5 Oceania
				.col-lg
					.row
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau **
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *
						a(href="#").item
							img(src="./img/tools/result_flag.png", alt="")
							h5 Guinea-Bissau *