section.home-4
	.container
		h2.main-title Find your program with GIS tools
		.row
			.col-6.col-lg-3.item
				a(href="#")
					.img
						img(src="./img/home/icon_1.png", alt="")
					.content
						h4 Program match
						p Find the program that best matches your goals
			.col-6.col-lg-3.item
				a(href="#")
					.img
						img(src="./img/home/icon_2.png", alt="")
					.content
						h4 Program compare
						p Compare the different programs side by side and examine their features. 
			.col-6.col-lg-3.item
				a(href="#")
					.img
						img(src="./img/home/icon_3.png", alt="")
					.content
						h4 Passport index
						p Discover how the industry benchmark ranks the different programs. 
			.col-6.col-lg-3.item
				a(href="#")
					.img
						img(src="./img/home/icon_4.png", alt="")
					.content
						h4 Make payment
						p Our exclusive calculator will convey the estimated costs for each program