section.home-6
	.container
		h2.main-title Government News
		.row
			.col-md-4
				a.item(href="#")
					figure
						.imgbox
							img(src="./img/home/13.jpg", alt="")
							.corner
								span GIS News
						figcaption
							time 27/02/2019
							h4 European passport return service
							p The European passport return service is for EEA, Swiss nationals and their family members to keep their passport while their online application is being processed.
			.col-md-4
				a.item(href="#")
					figure
						.imgbox
							img(src="./img/home/14.jpg", alt="")
							.corner
								span Government News
						figcaption
							time 27/02/2019
							h4 Canada will reopen Parents and Grandparents Program January 28
							p IRCC will resume first-in, first-served approach to processing expressions of interest Canada’s Parents and Grandparents Program will reopen to interested sponsors beginning on January 28, the federal government announced today.
			.col-md-4
				a.item(href="#")
					figure
						.imgbox
							img(src="./img/home/15.jpg", alt="")
							.corner
								span GIS News
						figcaption
							time 27/02/2019
							h4 Pathway to Permanent Residence for Retirees
							p The Pathway was announced by Government on 8 May 2018 as part of the 2018-19 Budget and will be introduced on 17 November 2018.


