.home-7
	.container
		.row
			.col-xl-6
				.textbox
					p Find your best immigration program with our consulting, or read brochure for more information!
			.col-xl-6
				.button-wrap
					a.btn-send(href="#")
						span.fab.fa-telegram-plane
						span Send us your request
					a.btn-download(href="#")
						span.fas.fa-download
						span Download free brochure