section.apply
	.container
		h2.main-title application process
		.row
			.col-lg-10.col-xl-6
				h4 Step 1: Cloose service
				form.fill-information(action="")
					.form-group
						.col-12
							label Your interested service* 
							select
								option option
					.form-group
						.col-12
							label Country of service*
							select
								option option
					.form-button
						button 
							span Next
							span.lnr.lnr-arrow-right