section.apply
	.container
		.main-img
			img(src="./img/success.png", alt="")
		h2.main-title Sign Up complete
		p.main-description Due to your case, we will send the pricing for this service for you in 24 hours.
		.row
			a.btn-ok(href="#") OK