section.overview-1
	.container
		h2.main-title Introduction
		.row
			.col-lg-6
				.imgbox
					img(src="./img/overview/1.jpg", alt="")
			.col-lg-6
				.textbox
					p In an effort to support the country's economy, Bulgaria is offering residency status to foreign investors. The Bulgarian passport is similar to the passports of Germany, France, or any other EU country; Bulgaria passport holders may live, work or study in any country belonging to the European Union. 
					br
					p International business executives, investors, VIPs as well as affluent citizens worldwide consider an alternative residency or citizenship a powerful tool for international tax planning and a safety net should the living conditions at home become unbearable.  
