section.overview-2
	.container
		h2.main-title Program
		.row
			.col-lg-4.col-md-6
				a.overview-item(href="#" data-fancybox="overview_1" data-src="#overview_1")
					figure
						.imgbox
							img(src="./img/overview/2.jpg", alt="")
						figcaption
							h4 The Bulgarian permanent residency program
							span.btn-viewmore
								span View more
								span.lnr.lnr-arrow-right
			.col-lg-4.col-md-6
				a.overview-item(href="#"  data-fancybox="overview_2" data-src="#overview_2")
					figure
						.imgbox
							img(src="./img/overview/3.jpg", alt="")
						figcaption
							h4 Citizenship via Bulgarian standard permanent resident program
							span.btn-viewmore
								span View more
								span.lnr.lnr-arrow-right
			.col-lg-4.col-md-6
				a.overview-item(href="#" data-fancybox="overview_3" data-src="#overview_3")
					figure
						.imgbox
							img(src="./img/overview/4.jpg", alt="")
						figcaption
							h4 The Bulgarian permanent residency program
							span.btn-viewmore
								span View more
								span.lnr.lnr-arrow-right
	.d-none
		#overview_1.fancybox-overview
			.imgbox
				img(src="./img/overview/2.jpg", alt="")
			.content
				h4 Malta
				p Malta is a country strategically located at the center of the Mediterranean, and boasts an excellent reputation with a splendid climate, very friendly people, and a low crim rate, offering its people a great quality of life.
		#overview_2.fancybox-overview
			.imgbox
				img(src="./img/overview/2.jpg", alt="")
			.content
				h4 Malta
				p Malta is a country strategically located at the center of the Mediterranean, and boasts an excellent reputation with a splendid climate, very friendly people, and a low crim rate, offering its people a great quality of life.
		#overview_3.fancybox-overview
			.imgbox
				img(src="./img/overview/2.jpg", alt="")
			.content
				h4 Malta
				p Malta is a country strategically located at the center of the Mediterranean, and boasts an excellent reputation with a splendid climate, very friendly people, and a low crim rate, offering its people a great quality of life.
				ul
					li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, culpa quibusdam. Dignissimos placeat aspernatur in obcaecati possimus rem eum ad! Fuga esse nam excepturi officia vero perspiciatis voluptatibus quae aliquid.
					li Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum reiciendis blanditiis iste cupiditate libero ab. Pariatur itaque explicabo magnam, quisquam nulla at. Quam sapiente voluptate odit repellendus quas labore modi.