section.overview-2
	.container
		h2.main-title Program
		.row
			.col-lg-4.col-md-6
				a.overview-item(href="#")
					figure
						.imgbox
							img(src="./img/overview/2.jpg", alt="")
						figcaption
							h4 The Bulgarian permanent residency program
							span.btn-viewmore
								span View more
								span.lnr.lnr-arrow-right
			.col-lg-4.col-md-6
				a.overview-item(href="#")
					figure
						.imgbox
							img(src="./img/overview/3.jpg", alt="")
						figcaption
							h4 Citizenship via Bulgarian standard permanent resident program
							span.btn-viewmore
								span View more
								span.lnr.lnr-arrow-right
			.col-lg-4.col-md-6
				a.overview-item(href="#")
					figure
						.imgbox
							img(src="./img/overview/4.jpg", alt="")
						figcaption
							h4 The Bulgarian permanent residency program
							span.btn-viewmore
								span View more
								span.lnr.lnr-arrow-right