section.overview-3
	.container
		h2.main-title Benefits of the Program
		p.main-description Reasons for an alternative residency or citizenship include providing a better quality of life for the investor and his/her family, arranging for international tax planning, and establishing a safety net should the living conditions at home become unbearable. 
		.row
			.col-sm-6.col-lg-3
				figure.item
					.imgbox
						img(src="./img/overview/icon_1.png", alt="")
					figcaption
						h4 Free Movement of Persons
						p The whole family can obtain Bulgarian citizenship i.e. the main applicant, his/her spouse, and children of any age, and they can all travel, reside, study or work freely within the EU. 
			.col-sm-6.col-lg-3
				figure.item
					.imgbox
						img(src="./img/overview/icon_2.png", alt="")
					figcaption
						h4 Free Movement of Services
						p Individual citizens and their companies can offer services within EU member states without obstacles. 
			.col-sm-6.col-lg-3
				figure.item
					.imgbox
						img(src="./img/overview/icon_3.png", alt="")
					figcaption
						h4 Free Movement of Capital
						p Bulgarian passport holders can transfer funds between EU member states, purchase property in any preferred EU country, and invest in any type of business venture. 
			.col-sm-6.col-lg-3
				figure.item
					.imgbox
						img(src="./img/overview/icon_4.png", alt="")
					figcaption
						h4 Free Movement of Goods
						p All goods produced in EU member states can be freely transferred between countries of the European Union. 
			.col-sm-6.col-lg-3
				figure.item
					.imgbox
						img(src="./img/overview/icon_5.png", alt="")
					figcaption
						h4 No Requirement to Physically Reside in Bulgaria
						p The applicant and his/her dependents are not required to reside in Bulgaria before the filing of an application, or after obtaining Bulgarian citizenship. 	
			.col-sm-6.col-lg-3
				figure.item
					.imgbox
						img(src="./img/overview/icon_6.png", alt="")
					figcaption
						h4 Attractive Tax System
						p Becoming a citizen of Bulgaria does not mean the investor automatically becomes a Bulgarian tax resident. However, becoming a tax resident in Bulgaria may be attractive to the investor because of the country's low personal and corporate income tax rate which is only 10%; the lowest in the European Union.
			.col-sm-6.col-lg-3
				figure.item
					.imgbox
						img(src="./img/overview/icon_7.png", alt="")
					figcaption
						h4 Visa Free Travel
						p Bulgarian passport holders do not require a visa to travel within the EU and also to travel to many non-EU countries.
			.col-sm-6.col-lg-3
				figure.item
					.imgbox
						img(src="./img/overview/icon_8.png", alt="")
					figcaption
						h4 Option to Settle in the USA
						p Bulgarian citizens can live in the USA by applying for an E2 Visa due to the country's E2 reciprocity agreement with the United States.
