section.overview-4
	.container
		h2.main-title Social benefits
		.row
			.col-lg-6
				.textbox
					p Bulgaria, located in Southeast Europe, at the crossroads between Europe and Asia, is a stable, neutral and respected member of the European Union since 2007. The country has produced streamlined legislation to create an efficient process by which non-EU residents may obtain a residence permit - and citizenship if so desired - based on investment. 
					br
					p Bulgaria is a safe, neutral and respected member of the European Union, located at the crossroad between Europe and Asia and origin of the earliest European civilizations. A relatively small country of approximately seven million people, Bulgaria is considered very safe and boasts a low crime rate. 
					br
					p Bulgarians have developed their culture and enriched it over the millennia, and they preserve it and continue to develop it to the present day. Bulgarian is the main official language, but English is also widely spoken, particularly by younger people and especially in the tourist regions. Bulgaria is also good choice when it comes to education and healthcare. High quality public education is provided by the government at no cost. Private schools, teaching in English, French, Spanish, or German, are also available. In addition to the education system, Bulgaria also offer free healthcare covered through the basic health insurance system. 
			.col-lg-6
				.imgbox
					img(src="./img/overview/5.jpg", alt="")