section.overview-5
	.container
		h2.main-title GIS Qualifications
		.row
			.col-lg-6
				.imgbox
					img(src="./img/overview/6.jpg", alt="")
			.col-lg-6
				.textbox
					p Our associated attorneys, a full service commercial law firm based in Sofia, Bulgaria, provide comprehensive legal and tax services and solutions to multinational corporations operating in Bulgaria, closely held foreign and Bulgarian businesses, local entrepreneurs, organizations and individuals
					br
					p In addition to immigration law the firm is providing advisory services covering company formation, business restructuring, corporate & commercial law, dispute resolution, real estate, taxation, and merger & acquisitions law.
					br
					b Services offered
					ul
						li Advising you on your chances of success before filing your application;
						li Providing you with pre-immigration legal and tax advice;
						li Guiding you with the preparation of supporting documentation.

