section.media-1
	.container
		h2.main-title Media Room
		.row
			.col-lg-8
				.media-item.big
					a(href="#")
						figure
							.imgbox
								img(src="./img/media/1.jpg", alt="")
							figcaption
								.corner
									span GIS News
								time 27/02/2019
								h4 Canada will reopen Parents and Grandparents Program January 28
								p IRCC will resume first-in, first-served approach to processing expressions of interest Canada’s Parents and Grandparents Program will reopen to interested sponsors beginning on January 28, the federal government announced today.
			.col-lg-4
				.row
					.col-md-6.col-lg-12
						.media-item
							a(href="#")
								figure
									.imgbox
										img(src="./img/media/1.jpg", alt="")
									figcaption
										.corner
											span GIS News
										time 27/02/2019
										h4 Canada will reopen Parents and Grandparents Program January 28
					.col-md-6.col-lg-12
						.media-item
							a(href="#")
								figure
									.imgbox
										img(src="./img/media/1.jpg", alt="")
									figcaption
										.corner
											span GIS News
										time 27/02/2019
										h4 Canada will reopen Parents and Grandparents Program January 28