section.media-detail
	.container
		.row
			.col-lg-8
				.textbox
					h1 Canada will reopen Parents and Grandparents Program January 28
					time 27/02/2019
					p
						i Canada’s Parents and Grandparents Program will reopen to interested sponsors beginning on January 28, the federal government announced today.  
					p
						i The program, known as the PGP, allows Canadian citizens and permanent residents over the age of 18 to sponsor their parents and/or grandparents for Canadian permanent residence.
					p Immigration, Refugees and Citizenship Canada (IRCC) says up to 20,000 new PGP applications will be processed in 2019.
					p Anyone hoping to sponsor their parents and/or grandparents through the PGP will have to first complete an online Interest to Sponsor form, which will be made available at noon Eastern Standard Time on January 28.
					p IRCC will process Interest to Sponsor forms in the order they are received and invitations to apply to the PGP will be issued until the programA’s cap of 20,000 complete applications is met.
					p This first-in, first-served approach to accepting applications replaces the controversial randomized lottery process that IRCC introduced last year and later scrapped.
					p Many had criticized the randomized approach as unfair to those who had been waiting for years to sponsor their parents and/or grandparents.
					img(src="./img/media/2.jpg", alt="")
					p Completing an Interest to Sponsor form is not an application but rather notifies IRCC of your wish to be considered as a potential sponsor.
					p IRCC said interested sponsors should first review the eligibility requirements to ensure they meet the program’s requirements, including the threshold for Minimum Necessary Income.
					p IRCC will also require potential sponsors to upload a copy of a status in Canada document when submitting their interest to sponsor form.
					p Those invited to apply will have 60 days to submit a completed application, including all supporting documents.
				.social-share
					a(href="#")
						img(src="./img/social_icon/1.jpg", alt="")
					a(href="#")
						img(src="./img/social_icon/2.jpg", alt="")
					a(href="#")
						img(src="./img/social_icon/3.jpg", alt="")
					a(href="#")
						img(src="./img/social_icon/4.jpg", alt="")
					a(href="#")
						img(src="./img/social_icon/5.jpg", alt="")
					a(href="#")
						img(src="./img/social_icon/6.jpg", alt="")
					a(href="#")
						img(src="./img/social_icon/7.jpg", alt="")
			.col-lg-4
				.other-media
					h3 Other News
					.row
						.col-lg-12.col-md-6
							a.gov-news-item.side(href="#")
								figure
									.imgbox
										img(src="./img/home/14.jpg", alt="")
										.corner
											span Government News
									figcaption
										time 27/02/2019
										h4 Canada will reopen Parents and Grandparents Program January 28
										p IRCC will resume first-in, first-served approach to processing expressions of interest Canada’s Parents and Grandparents Program will reopen to interested sponsors beginning on January 28, the federal government announced today.
						.col-lg-12.col-md-6
							a.gov-news-item.side(href="#")
								figure
									.imgbox
										img(src="./img/home/14.jpg", alt="")
										.corner
											span Government News
									figcaption
										time 27/02/2019
										h4 Canada will reopen Parents and Grandparents Program January 28
										p IRCC will resume first-in, first-served approach to processing expressions of interest Canada’s Parents and Grandparents Program will reopen to interested sponsors beginning on January 28, the federal government announced today.
						.col-lg-12.col-md-6
							a.gov-news-item.side(href="#")
								figure
									.imgbox
										img(src="./img/home/14.jpg", alt="")
										.corner
											span Government News
									figcaption
										time 27/02/2019
										h4 Canada will reopen Parents and Grandparents Program January 28
										p IRCC will resume first-in, first-served approach to processing expressions of interest Canada’s Parents and Grandparents Program will reopen to interested sponsors beginning on January 28, the federal government announced today.
						.col-lg-12.col-md-6
							a.gov-news-item.side(href="#")
								figure
									.imgbox
										img(src="./img/home/14.jpg", alt="")
										.corner
											span Government News
									figcaption
										time 27/02/2019
										h4 Canada will reopen Parents and Grandparents Program January 28
										p IRCC will resume first-in, first-served approach to processing expressions of interest Canada’s Parents and Grandparents Program will reopen to interested sponsors beginning on January 28, the federal government announced today.
