.col-lg-4.col-xl-3
	.user-avatar
		figure
			.imgbox
				a(href="#")
					img(src="./img/favicon.png", alt="")
			figcaption
				p Welcome to
				h3 bang Tam
	.sidebar-navigation
		ul
			li.active
				a(href="profile.html") my profile
			li
				a(href="payhistory.html") Pay History
			li
				a(href="changepassword.html") change password