footer
	.container.footer-navigation
		.row
			.col-lg-3.col-6
				h4.title about us
				nav.nav
					a(href="") Introduction
					a(href="") Mission & Vision
					a(href="") Board of advisors
					a(href="") Certifications & rewards
			.col-lg-2.col-6
				h4.title Services
				nav.nav
					a(href="") Residency
					a(href="") Citizenship
					a(href="") Working Visa
			.col-lg-2.col-6
				h4.title Media
				nav.nav
					a(href="") Government news
					a(href="") Gis news
					a(href="") Gis Event
			.col-lg-2.col-6
				h4.title Gis tools
				nav.nav
					a(href="") Program match
					a(href="") Program Compare
					a(href="") Passport Index
					a(href="") Make payment
			.col-lg-3
				h4.title Information
				nav.nav
					a(href="") Download form/ brochure
					a(href="") Partnership Program
					a(href="") Promotion
					a(href="") FAQs
			.col-12
				hr
	.container.info
		.row
			.col-lg-3.subcribe-form
				h4.title GLOBAL IMMIGRATION SERVICES LIMITED
				p Enter your email to receive new promotion from GIS
				form.subcribe
					input#subcribe(type="text", name="subcribe")
					button.fab.fa-telegram-plane
			.col-lg.address
				h4.title Singapore
				address #14-02 The Arcade, 11 Collyer Quay, Singapore, 049317
				ul
					li
						a(href="tel:+6562406842") 
							span.mdi.mdi-phone
							span +65 6240 6842
					li
						a(href="mailto:support@gistd.com")
							span.mdi.mdi-email
							span support@gistd.com

			.col-lg.address
				h4.title Hong Kong
				address Unit 1411, 14/Floor, Cosco Tower, 183 Queen’s Road Central, Sheung Wan, Hong Kong
				ul
					li
						a(href="tel:+85281990939")
							span.mdi.mdi-phone
							span +852 8199 0939
					li
						a(href="mailto:support@gistd.com")
							span.mdi.mdi-email
							span support@gistd.com
	.container.services
		.row
			.item
				a(href="#")
					img(src="./img/footer_icon_1.png", alt="")
			.item
				a(href="#")
					img(src="./img/footer_icon_2.png", alt="")
			.item
				a(href="#")
					img(src="./img/footer_icon_3.png", alt="")
			.item
				a(href="#")
					img(src="./img/footer_icon_4.png", alt="")
			.item
				a(href="#")
					img(src="./img/footer_icon_5.png", alt="")
			.item
				a(href="#")
					img(src="./img/footer_icon_1.png", alt="")
	.container.about
		p Global Immigration Services Europe LLP is a Limited Liability Partnership, incorporated in England and Wales, Global Immigration Services Limited, Incorporated in the Hong Kong SAR with limited liability, Global Immigration Services Pte. Ltd, Incorporated in Republic of Singapore with limited liability.
		br
		p Each member firm of “GIS group of companies” network is legally separate and independent entities affiliated with Global Immigration Services Pte.Ltd (“GIS”), a Singapore entity.
	.copyright
		.container
			.row
				.col-lg
					.textbox
						p Copyrigt 2019 by GIS Co. All right reserved.
				.col-lg-auto
					.social
						a.fab.fa-facebook-f(href="#")
						a.fab.fa-youtube(href="#")
						a.fab.fa-twitter(href="#")
