section.promotion-1
	.container
		h2.main-title Gis Promotion
		.row.news-top
			.col-md-4.col-lg-8.big-news
				.promotion-item
					figure
						.imgbox
							a(href="#")
								img(src="./img/promotion/1.jpg", alt="")
						figcaption
							.day
								span.date 30
								span.month-year 03 - 2019
							h4
								a(href="#") Open Source Summit 
									span Embedded Linux Conference North America
							time
								span.mdi.mdi-calendar
								span 8:00 AM
							p
								span.mdi.mdi-map-marker
								span 156 Nguyen Van Thu Street, Dakao Ward, Distric 01, Ho Chi Minh City
			.col-md-8.col-lg-4.side-news
				.row
					.col-md-6.col-lg-12
						.promotion-item
							figure
								.imgbox
									a(href="#")
										img(src="./img/promotion/2.jpg", alt="")
								figcaption
									.day
										span.date 30
										span.month-year 03 - 2019
									h4
										a(href="#") Open Source Summit 
											span Embedded Linux Conference North America
									time
										span.mdi.mdi-calendar
										span 8:00 AM
									p
										span.mdi.mdi-map-marker
										span Barcelona, Spain
					.col-md-6.col-lg-12
						.promotion-item
							figure
								.imgbox
									a(href="#")
										img(src="./img/promotion/3.jpg", alt="")
								figcaption
									.day
										span.date 30
										span.month-year 03 - 2019
									h4
										a(href="#") Open Source Summit 
											span Embedded Linux Conference North America
									time
										span.mdi.mdi-calendar
										span 8:00 AM
									p
										span.mdi.mdi-map-marker
										span Barcelona, Spain
		.row.news-bottom
			.col-md-4
				.promotion-item
					figure
						.imgbox
							a(href="#")
								img(src="./img/promotion/3.jpg", alt="")
						figcaption
							.day
								span.date 30
								span.month-year 03 - 2019
							h4
								a(href="#") Open Source Summit 
									span Embedded Linux Conference North America
							time
								span.mdi.mdi-calendar
								span 8:00 AM
							p
								span.mdi.mdi-map-marker
								span Barcelona, Spain
			.col-md-4
				.promotion-item
					figure
						.imgbox
							a(href="#")
								img(src="./img/promotion/3.jpg", alt="")
						figcaption
							.day
								span.date 30
								span.month-year 03 - 2019
							h4
								a(href="#") Open Source Summit 
									span Embedded Linux Conference North America
							time
								span.mdi.mdi-calendar
								span 8:00 AM
							p
								span.mdi.mdi-map-marker
								span Barcelona, Spain
			.col-md-4
				.promotion-item
					figure
						.imgbox
							a(href="#")
								img(src="./img/promotion/3.jpg", alt="")
						figcaption
							.day
								span.date 30
								span.month-year 03 - 2019
							h4
								a(href="#") Open Source Summit 
									span Embedded Linux Conference North America
							time
								span.mdi.mdi-calendar
								span 8:00 AM
							p
								span.mdi.mdi-map-marker
								span Barcelona, Spain
		include ../pagination/p-1.pug