section.residence-1
	.container
		h2.main-title Residence
		.row
			.col-lg-8.col-xl-9
				.textbox
					p The Bulgarian permanent residency program allows applicants to live in Bulgaria as long as desired. Citizenship may be applied for after 60 months (5 years) in permanent residency status. The processing time for residency is about six months. 
					br
					p There are two options available to receive the Residence: 
					.list-item
						.item
							figure
								.imgbox
									img(src="./img/residence/1.jpg", alt="")
								figcaption
									h4
										span 01. 
										span Buying Government Bonds - Fast Track Processing
									p With "fast track processing" the time to EU citizenship and passport is reduced to 
										b only 18 months. 
										| The applicant purchases government bonds for EUR 1,024,000 plus EUR 15,000 legal fees. The applicant can sell the bonds for about EUR 1,024,000 after five years. 
										b Total cost after sale: EUR 15,000.
						.item
							figure
								.imgbox
									img(src="./img/residence/1.jpg", alt="")
								figcaption
									h4
										span 01. 
										span Buying Government Bonds - Fast Track Processing
									p With "fast track processing" the time to EU citizenship and passport is reduced to 
										b only 18 months. 
										| The applicant purchases government bonds for EUR 1,024,000 plus EUR 15,000 legal fees. The applicant can sell the bonds for about EUR 1,024,000 after five years. 
										b Total cost after sale: EUR 15,000.
					p Applicants are not required to continuously live in Bulgaria before or after citizenship approval. All investment options to citizenship allow for one application to cover the husband, wife, parents and all children of any age. 
				.application-process
					h3 Residence permit application process
					ul
						- for(i=1;i<9;i++)
							li Step ##{i}
				.process-map
					.item
						.content
							h4 Step #1
							P Applicant sends passport copies and copy of translated police record(s), plus wires initial deposit of USD 10.000
						.time
							span 1-2 weeks
					.item
						.content
							h4 Step #1
							P Applicant sends passport copies and copy of translated police record(s), plus wires initial deposit of USD 10.000
						.time
							span 1-2 weeks
					.item
						.content
							h4 Step #1
							P Applicant sends passport copies and copy of translated police record(s), plus wires initial deposit of USD 10.000
						.time
							span 1-2 weeks
					.item
						.content
							h4 Step #1
							P Applicant sends passport copies and copy of translated police record(s), plus wires initial deposit of USD 10.000
						.time
							span 1-2 weeks
					.item
						.content
							h4 Step #1
							P Applicant sends passport copies and copy of translated police record(s), plus wires initial deposit of USD 10.000
						.time
							span 1-2 weeks
					.item
						.content
							h4 Step #1
							P Applicant sends passport copies and copy of translated police record(s), plus wires initial deposit of USD 10.000
						.time
							span 1-2 weeks
					.item
						.content
							h4 Step #1
							P Applicant sends passport copies and copy of translated police record(s), plus wires initial deposit of USD 10.000
						.time
							span 1-2 weeks
					.item
						.content
							h4 Step #1
							P Applicant sends passport copies and copy of translated police record(s), plus wires initial deposit of USD 10.000
						.time
							span 1-2 weeks
					.item
						.content
							h4 Step #1
							P Applicant sends passport copies and copy of translated police record(s), plus wires initial deposit of USD 10.000
						.time
							span 1-2 weeks
				.button-wrapper
					a.btn-apply(href="#")
						span.fab.fa-telegram-plane
						span Apply now
			.col-lg-4.col-xl-3
				.col-right
					.button-wrapper
						a.btn-send(href="")
							span.fab.fa-telegram-plane
							span Send your message
						a.btn-download(href="").fa-download
							span Download Bulgaria brochure
					form.request-callback(action="")
						h4 REquest Call back
						.form-group
							label Your name
							input
						.form-group
							label Your name
							select
								option +84
								option +84
								option +84
								option +84
							input(placeholder="Enter your name")
						.form-group
							label Your interest
							select
						.form-button
							button Call me soon