.home-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="#")
					img(src="./img/banner/1.jpg", alt="")
					.caption
						.container
							.textbox
								p Live the life you were destined to live
			.swiper-slide
				a(href="#")
					img(src="./img/banner/1.jpg", alt="")
					.caption
						.container
							.textbox
								p Live the life you were destined to live
			.swiper-slide
				a(href="#")
					img(src="./img/banner/1.jpg", alt="")
					.caption
						.container
							.textbox
								p Live the life you were destined to live
		.swiper-pagination