section.payment
	.container.canceled
		h2.main-title Confirmation
		.infobox
			p Dear 
				strong Thomas Le,
			p Customer ID: 
				span#customerID #190023
			p Thank you for choosing Residence Citizenship for services.
			br
			p We are very sorry, your payment was 
				b NOT successful 
				| yet. It could be some reasons:
			p - You canceled the payment
			p - You have entered incorrect card expiration
			p - Your credit has reached the limit
			p - Computer or network error
			p - Your payment was failed with reasons: 
				b You canceled the payment.
			p Please kindly try to make payment again.
			br
			p Best Regards,
			p
				strong RESIDENCE CITIZENSHIP.
			p
				strong WE ARE BESIDE YOU 24/7.
		.button
			a.btn-proceed(href="") Try Again now