section.payment
	.container.canceled
		h2.main-title Confirmation
		.infobox
			p Dear 
				strong Thomas Le,
			p Customer ID: 
				span#customerID #190023
			p Thank you for choosing Residence Citizenship for services.
			br
			p Please double check to make sure your payment is correct. Any change after approved will be charged or notified by email to us.
			br
			p Your payment:
			p Full Name: 
				strong Thomas Le
			p Email Address: 
				strong abc@xyz.com
			p Amount: 
				strong US$ 500.00
			p Payment Date: 
				strong Jan/09/2019 12:12:34
			p Payment Method: 
				strong Credit or Debit Card
			p Payment for:
			p + Option 1
			p + Option n
			p Note for payment: test
			br
			p Please feel free to contact us via <a href="mailto:support@residencecitizenship.org">support@residencecitizenship.org</a>  if you have any further questions or concerns.
			br
			p Best Regards,
			p
				strong RESIDENCE CITIZENSHIP.
			p
				strong WE ARE BESIDE YOU 24/7.
		.button
			a.btn-proceed(href="") Back to home